<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pydgn - Messaging Your Way</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.versioned("vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="@routes.Assets.versioned("vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.versioned("css/landing-page.css")" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">One Messaging Platform, Multiple Recipients</h2>
            <p class="lead">No more clutter from unnecessary messaging applications,
            pick your favorite and send messages between multiple platforms. We all have a
            favorite app, why would we need another?</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="@routes.Assets.versioned("img/connections.png")" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Powered by the Microsoft Bot Framework</h2>
            <p class="lead">By utilizing the powers of Microsoft's bot framework, we were able to
            seamlessly create multiplatform messaging functionalities. Thanks to the framework Pydgn
            users can easily communicate with one another regardless of their messaging application of
            choice.</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="@routes.Assets.versioned("img/azure.png")" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">No App? No Problem.</h2>
            <p class="lead">Thanks to the SMS functionalities that come with the
            Twilio API, Pydgn users don't even need a messaging platform. By registering
            their device with Pydgn via SMS, users can still send messages to recipients
            across all Pydgn supported messaging platforms.</p>
          </div>
          <div class="col-lg-5 mr-auto ">
            <img class="img-fluid" src="@routes.Assets.versioned("img/twilio.png")" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->
    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">The Beauty Behind the Backend</h2>
            <p class="lead">The Google Cloud platform was the powerhouse behind running the Pydgn backend.
            The Pydgn backend needs to handle incoming data from multiple messaging transactions, by deploying
            via Google's Cloud Platform scalability will not be an issue. Regardless of the length or quantity
            of messages being handled by the backend the GCP is the best bet.</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="@routes.Assets.versioned("img/cloudplatform.png")" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Why Mongo?</h2>
            <p class="lead">MongoDB is a great choice when it comes to picking a database.
            JSON is a structure we've come to know and love, and Mongo's NoSQL database makes us
            feel right at home. Since Pydgn would ideally have a user base of all supported messaging
            platforms combined, scalability is very important. MongoDB provides Pydgn with all the functionality
            it needs in a database, and none of the functionality it doesn't.</p>
          </div>
          <div class="col-lg-5 mr-auto ">
            <img class="img-fluid" src="@routes.Assets.versioned("img/mongo.png")" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>

    <aside class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2> </h2>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <p class="copyright text-muted small">Copyright &copy; Pydgn 2017. All Rights Reserved</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.versioned("vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/popper/popper.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/bootstrap/js/bootstrap.min.js")"></script>

  </body>

</html>
